{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

        <script src="{% static "js/lib/require.js" %}"></script>
        <script>
            function extless(input) {
                return input.replace(/(.*)\.[^.]+$/, '$1');
            }
            requirejs.config({
                paths: {
                    "jquery": extless("{% static 'js/lib/jquery.js' %}")
                }
            });
        </script>
    </head>
    <body>
        {% include "includes/header.html" %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block scripts %}{% endblock %}
        {% block body_extra %}{% endblock body_extra %}

    </body>
</html>
