{%  extends 'base.html' %}
{%  load staticfiles %}

{%  block content %}
    <style type="text/css">
        .label-help, .label-help:hover, .label-help:active, .label-help:visited {
            margin-left: 5px;
            color: #333;
        }
    </style>

    <script>
        var parameters = {{ parameter_json|safe }};

        var parameterTypeAbbreviations = {{ parameter_type_abbreviations_json|safe }};

        var parameterOptions = {{ parameter_options_json|safe }};

        /*require(["jquery"], function($) {
            $(document).ready(function () {
               alert("This ran!");
            });
        });*/
    </script>

    <div class="panel panel-default">
        <div class="panel-heading">Input</div>
        <div class="panel-body">
            <form id="jsInputForm" action="{% url 'website:run-process' package_id=package_id %}">

            </form>
        </div>
    </div>

    <script src="{% static "js/pages/run.js" %}"></script>
    <script src="{% static "js/tooltip/activate-tooltips.js" %}"></script>
{% endblock %}